<div th:fragment="header(title)" th:remove="tag">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title th:text="'知识库系统--' + ${title}"></title>

    <link rel="stylesheet" th:href="@{/statics/framework/normalize-css/normalize.css}">
    <link rel="stylesheet" th:href="@{/statics/framework/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/statics/framework/element-ui/lib/theme-default/index.css}">
    <link rel="stylesheet" th:href="@{/statics/css/main.css?v=0.0.2}">
</div>