<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="top_menu" th:remove="tag">
    <navbar placement="top" type="default">
        <!-- Brand as slot -->
        <a slot="brand" href="/" title="知识库系统首页" class="navbar-brand">知识库系统</a>
        <!-- You can use dropdown component -->
        <dropdown text="Dropdown">
            <li><a href="link">Option</a></li>
        </dropdown>
        <!-- Or normal bootstrap style -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Dropdown</a>
            <ul class="dropdown-menu">
                <li><a href="link">Option</a></li>
            </ul>
        </li>
        <!-- For right positioning use slot -->
        <li slot="right">
            <a href="https://github.com/yuche/vue-strap" target="_blank">Fork...</a>
        </li>
    </navbar>
</div>
</body>
</html>